#version: '3.8'
services:
  timescaledb:
    image: timescale/timescaledb:latest-pg14
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ccxt
    ports:
      - "5432:5432"
    networks:
      - host
    volumes:
      - timescale-data:/var/lib/postgresql/data
  
  ccxtload:
    build: ./script
    environment:
      - DATABASE_HOST=localhost
      - DATABASE_NAME=ccxt
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=password
    depends_on:
      - timescaledb
    networks:
      - host

networks:
  host:
    external: true
      
volumes:
  timescale-data:
